<div class="row">
    <div class="col-sm-3">
        <product-filter [categorySelected]="categorySelected"></product-filter>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <ng-container *ngFor="let product of productsFilter; let i = index">
                <div class="col">
                    <product-card [product]="product" [showAction]="true"></product-card>
                </div>
                <div *ngIf="(i+1) % 2 == 0" class="w-100"></div>
            </ng-container>
        </div>

    </div>

</div>